.likeButtons {
  display: flex;
  .buttonContainer {
    display: flex;
    flex-direction: column;
    .votes {
      display: flex;
      justify-content: center;
    }
  }
}
.likeButton {
  padding: 0;
  cursor: pointer;
}
.likeButtonIcon {
  width: 95px;
  height: 54px;
}

.likeButtonIconMobile {
  width: 53px;
  height: 30px;
}
