@import '../../../variables.scss';

.newsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;

  .sortRow {
    display: flex;
    overflow-x: hidden;

    width: max-content;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

    .sortBadge {
      display: flex;
      align-items: center;

      margin: 0;
      margin-right: 15px;
      padding: 5px 20px;

      border-color: #B0B0B0;

      .icon {
        height: 100%;

        text-align: left;
        letter-spacing: 0;

        color: #7A7A7A;

        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        line-height: 18px;
      }

      .text {
        margin-right: 10px;

        text-align: left;
        letter-spacing: 0;

        color: #7A7A7A;

        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        line-height: 18px;
      }

      .emptyIcon {
        display: flex;

        width: 18px;
        height: 18px;
      }
    }

    .sortBadge-active {
      display: flex;
      align-items: center;

      margin: 0;
      margin-right: 15px;
      padding: 5px 20px;

      border-color: #B0B0B0;
      background-color: #363557;

      .icon {
        height: 100%;

        text-align: left;
        letter-spacing: 0;

        color: #FFF;

        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        line-height: 18px;
      }

      .text {
        margin-right: 10px;

        text-align: left;
        letter-spacing: 0;

        color: #FFF;

        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        line-height: 18px;
      }

      .emptyIcon {
        display: flex;

        width: 18px;
        height: 18px;
      }
    }

    @media screen and (max-width: $mobileScreen) {
      .sortBadge {
        .text {
          font-size: 14px;
        }
      }

      .sortBadge-active {
        .text {
          font-size: 14px;
        }
      }
    }
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 40px;
    // .outerCardContainer {
    //   width: 324px;
    //   // margin: 0px 16px 16px 0px;
    // }
    @media screen and (max-width: $mobileScreen) {
      justify-content: center;
    }
  }
}


.SortDropdown {
  display: flex;
  align-items: center;

  margin: 0;
  margin-right: 15px;
  padding: 5px 20px;

  border: 1px solid  #B0B0B0;
  border-radius: 16px;

  .text {
    margin-right: 10px;
  
    text-align: left;
    letter-spacing: 0;
  
    color: #7A7A7A;
  
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    line-height: 18px;
  }

}
