.container {
  display: flex;
  // flex-direction: column;

  height: 100%;
  padding-bottom: 3vh;
}

.search {
  display: flex;
  // align-items: flex-start;

  width: 100%;
  height: 100%;
  // padding-top: 20px;

  form {
    width: 100%;
  }

  .searchButton {
    color: white;
  }
}

.searchInput {
  input {
    height: 40px;
    padding: 0;

    line-height: 40px;
  }
}
