.buttonRow {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    .backButton {
      border-color: #b0b0b0;
      padding: 5px 20px;
      margin: 0px;
      .icon {
        margin-right: 7px;
        height: 100%;
        color: #7a7a7a;
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }
      .text {
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #7a7a7a;
      }
    }
  }