.buttonRow {
  display: flex;

  width: 100%;
  margin-bottom: 20px;

  .backButton {
    display: flex;

    box-sizing: border-box;
    height: 40px;
    padding: 10px 30px;

    white-space: nowrap;

    color: white;
    border: 1px solid #363557;
    border-radius: 150px;
    background-color: #363557;

    font-size: 14px;

    &:hover {
      color: #363557;
      background: transparent;
    }

    .icon {
      height: 100%;
      margin-right: 7px;

      text-align: left;
      letter-spacing: 0;

      color: inherit;

      font-family: HelveticaNeueCyr;
      font-size: 18px;
      font-weight: 200;
      font-style: normal;
      line-height: 18px;
    }

    .text {
      text-align: left;
      letter-spacing: 0;

      color: inherit;

      font-family: HelveticaNeueCyr;
      font-size: 18px;
      font-weight: 200;
      font-style: normal;
      line-height: 18px;
    }
  }
}
