.statistics {
  padding-bottom: 50px;
  margin-bottom: 35px;
}
.statisticsContainer {
  width: 100%;
  border-bottom: 1px solid #b0b0b0;
}
.politicians {
  padding-right: 100px;
}
.headings {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.heading {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Helvetica';
  color: #7a7a7a;
  padding: 0;
}
@media (max-width: 960px) {
  .politicians {
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .statistics {
    margin-bottom: 25px;
    padding-bottom: 30px;
  }
  .headings {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .heading {
    font-size: 18px;
  }
}

.showMoreButton {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
  margin-left: 10px;
}

.showMoreButtonOpen {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
  margin-left: 10px;
}
