.container {
  color: #747373;
}

.navigation {
  margin: 50px 0;
  display: flex;
  flex-shrink: 1;
  border-top: 1px solid #B0B0B0;
  padding-top: 20px;

  .tabList {
    flex-basis: 24%;
    scrollbar-width: none;

    .link {
      height: 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #B0B0B0;
      padding: 5px 10px;
      transition: 0.3s all;
      color: #747373;
      text-decoration: none;

      &:hover {
        background-color: #36355720;
      }

      &.-active {
        background-color: #363557;
        color: white;
      }

      &.withOutBorder {
        border-bottom: none !important;
      }
    }
  }

  .tabContent {
    margin-left: 30px;
    flex-basis: 76%;
    @media screen and (max-width: 570px) {
      margin-left: 0 !important;
    }
  }

  @media screen and (max-width: 570px) {
    flex-direction: column;
    .tabListContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
      position: relative;
      width: 100%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .prevArrow {
        transform: rotate(180deg);
        background-color: #F3F3F3;
        padding: 10px;
        font-size: 10px;
        border-radius: 100%;
        cursor: pointer;
        margin-right: 10px;
      }

      .nextArrow {
        background-color: #F3F3F3;
        padding: 10px;
        font-size: 10px;
        border-radius: 100%;
        cursor: pointer;
        margin-left: 10px;
      }

      .tabContent {
        width: 100%;
        flex-basis: 100%;
      }

      .tabList {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        position: relative;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }

        .link {
          min-width: calc(50% - 30px);
          position: relative;
          border: 1px solid #B0B0B0;
          border-radius: 30px;
          font-size: 70%;
          margin-right: 10px;
          justify-content: center;
          text-align: center;
          line-height: 15px;
          height: auto;
        }
      }
    }
  }
}

.backButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;

  .arrow {
    transform: rotate(180deg);
  }

  p {
    margin: 0 !important;
    padding-left: 10px;
    padding-bottom: 0 !important;
  }
}

.personContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  @media screen and (max-width: 670px) {
    flex-direction: column;
    .personBlock {
      .fio {
        p {
          font-size: 35px !important;
        }
      }
    }
  }

  .avatarBlock {
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      &.noAvatar {
        background-color: #E5E5E5;
      }

      .noAvatarIcon {
        width: 100px;
        height: 100px;
      }

      img {
        border-radius: 100%;
        object-fit: fill;
        width: 120px;
        height: 120px;
      }
    }

    .changeProfileButton {
      margin-top: 20px;
      width: 200px;
      border: 1px solid #B0B0B0;
      color: #B0B0B0;
      padding: 2px 0 !important;
    }
  }

  .personBlock {
    flex-basis: 76%;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .fio {
      padding-bottom: 16px;

      p {
        color: #222222;
        margin: 0 !important;
        font-size: 60px;
        line-height: 59.28px;
      }
    }

    .infoBlock {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 570px) {
    margin-left: 0;
  }
}

.hLine {
  position: relative;
  width: 100%;
  border: 1px solid #B0B0B0;
}

.hLineLite {
  width: 100%;
  border: 1px solid #E5E5E5;
}


.userActivityBlockContainer {
  margin-top: 80px;

  .userActivityBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .leftList {
      display: flex;
      flex-direction: column;

      .item {
        height: 60px;

        p {
          cursor: pointer;
          text-align: left;
          vertical-align: middle;

          &:active {
            color: black;
          }
        }
      }
    }
  }
}