.nav {
  margin-top: 70px;
  border-bottom: 1px solid #b0b0b0;
}

.list {
  display: flex;
  justify-content: center;
}

.selectedItem {
  color: white!important;
  background-color: #363557;
  padding: 10px;
}

.listItem {
  text-align: center!important;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  color: #b0b0b0;
  font-weight: 300;
  white-space: nowrap;
  transition: .3s;
  li {
    text-align: center;
  }
  &:hover {
    color: #222222;
  }
  &:last-of-type {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .list {
    max-width: 90%;
  }
  .listItem {
    font-size: 12px;
  }
}