.nav {
  width: 100%;
  margin-top: 70px;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.selectedItem {
  padding: 10px;

  color: white !important;
  border-bottom: 0 solid #B0B0B0;
  background-color: #363557;
}

.listItem {
  padding: 10px 20px;

  cursor: pointer;
  transition: 0.3s;
  text-align: center !important;
  white-space: nowrap;

  color: #B0B0B0;
  border-bottom: 1px solid #B0B0B0;

  font-size: 18px;
  font-weight: 300;

  li {
    text-align: center;
  }

  &:hover {
    color: #222;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .listItem {
    font-size: 12px;
  }
}
