.MuiFilledInput-root::before {
    content: none;
}

.MuiTypography-root {
  padding-bottom: 12px;
}

.MuiFilledInput-root {
  background-color: transparent!important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.MuiFormControl-marginNormal {
  margin: 0;
}

.MuiFilledInput-root::after {
  content: none;
}