iframe {
  width: 100%;
  min-height: 450px;
  border: none;

  @media screen and (max-width: 1024px) {
    min-height: 350px;
  }
}

.root {
  display: flex;
  align-items: center;

  p {
    margin-right: 10px;
  }
}

.linkButton {
  max-height: 36px;
  border: 1px solid #363557;

  &:hover {
    background-color: white;
    color: #363557;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 20px;
  // padding: 10px;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
