.container {
  display: flex;
  // flex-direction: column;

  height: 100%;
  padding-bottom: 3vh;
}

.searchContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search {
  display: flex;
  // align-items: flex-start;

  width: 100%;
  height: 100%;
  // padding-top: 20px;

  form {
    display: flex;

    width: 100%;
  }

  .searchButton {
    color: white;
  }
}

.searchInput {
  flex: 1;

  input {
    height: 40px;
    padding: 0 0 0 20px;

    line-height: 40px;
  }

  //p {
  //  position: absolute;
  //  bottom: -23px;
  //}
}

.filterTabs {
  margin-top: 26px;

  .tabs_active {
    color: white;
    background-color: #363557;
  }

  .tabs_active:hover {
    background-color: initial;
  }
}
