@import 'src/variables.scss';

.container {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 50px;
  overflow: hidden;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    right: 20px !important;
    transform: translateX(-30%) !important;
  }

  &::-webkit-scrollbar-track {
    position: relative;
    border-radius: 30px;
    background: transparent; /* color of the tracking area */
    right: 20px !important;
    transform: translateX(-30%) !important;
  }

  &::-webkit-scrollbar-thumb {
    width: 2px !important;
    position: relative;
    background-color: #b0b0b0;
    border-radius: 20px;
    transform: translateX(-30%) !important;
  }

  &::-webkit-scrollbar-track-piece {
    transform: translateX(-30%) !important;
  }

  .informationBlock {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 20px;
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid #b0b0b0;
    justify-content: space-between;
    height: max-content;
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    &:last-child {
      margin-bottom: 0 !important;
      border-bottom: none !important;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
    .informationBlock {
      margin-bottom: 10px;
      flex-direction: column;
    }
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: max-content;
  p {
    margin-right: 10px;
    min-width: 180px;
  }
  .linkContent {
    // width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: $mobileScreen) {
    p {
      min-width: 200px;
      min-width: unset;
      font-size: 12px;
    }
  }
}
