.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .newsBlock {
    span {
      color: #747373;
    }
    .block {
      margin-bottom: 30px;
      margin-top: 10px;
    }
  }
}


.transparentButtonText {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  color: #363557;
}