.MuiButton-root {
  font-weight: 400;
}

.MuiBox-root {
  outline: none!important;
}

.MuiTypography-root {
  padding-bottom: 0!important;
}

.MuiInputBase-root {
  padding-right: 0!important;
}

.MuiInputAdornment-root {
  margin-left: 0!important;
}

.MuiButton-containedPrimary {
  background-color: #363557;
  color: #FFFFFF;

  &:disabled {
    background-color: #B0B0B0;
    color: white;
  }
}

.MuiListItem-root {
  padding: 0!important;
}

.MuiSwitch-colorPrimary {
  color: #248232!important;
}

.MuiSwitch-track {
  background-color: #9f9f9f!important;
}

.MuiButton-outlinedPrimary {
  color: #747373;
  border-color: #747373;

  &:hover {
    color: #363557;
    border-color: #363557;
  }
}