@import '../../variables.scss';

.VotesContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.boxShowBtn {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 110px 0;
  @media screen and (max-width: $mobileScreen) {
    margin: 60px 0 60px 0;
  }
}
.showBtn {
  min-width: 357px;
  @media screen and (max-width: $mobileScreen) {
    min-width: 200px;
  }
}
