@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.heroContainer {
  margin-top: 60px;
  margin-bottom: 100px;
}

.heroText {
  background-color: #248232;
  color: #fff;
  padding: 30px;
  font-size: 18px;
  border-radius: 20px;
  width: 60%;
  padding-bottom: 30px !important;
}

@media (max-width: 600px) {
  .heroText {
    width: 90%;
    font-size: 12px;
    padding-bottom: 15px;
    padding: 15px;
    margin: auto;
  }
  .heroContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
//.heroContainer {
//  margin-top: 40px;
//}
//.heroImage {
//  position: relative;
//}
//.heroImage img {
//  max-width: 100%;
//  max-height: 320px;
//}
//.heroText {
//  position: absolute;
//  top: 30px;
//  left: 70px;
//  bottom: 20px;
//  max-width: 400px;
//  font-size: 14px;
//  min-height: 100%;
//  color: #fff;
//  text-align: left;
//}
//@media (max-width: 780px) {
//  .heroText {
//    max-width: 470px;
//    top: 30px;
//    left: 30px;
//    font-size: 14px;
//  }
//}
//
//@media (max-width: 660px) {
//  .heroContainer {
//    margin-top: 20px;
//  }
//  .heroText {
//    position: absolute;
//    top: 15px;
//    left: 15px;
//    max-width: 355px;
//    font-size: 12px;
//  }
//  .heroImage img {
//    max-width: 100%;
//    /*min-height: 100%;*/
//    max-height: 500px;
//  }
//}
//
//@media (max-width: 450px) {
//  .heroContainer {
//    margin-top: 20px;
//  }
//  .heroText {
//    position: absolute;
//    top: 15px;
//    left: 15px;
//    max-width: 250px;
//    font-size: 12px;
//  }
//  .heroImage img {
//    width: 100%;
//    /*min-height: 100%;*/
//    max-height: 500px;
//    min-height: 350px;
//  }
//}

